baseURL = 'http://localhost:1313/'
contentDir = "content"
title = 'Apify Documentation'
theme = "learn"
defaultContentLanguage = "en"

[params]
  editURL = "https://github.com/apify/apify-doc/edit/master/content/"
  author = "Apify"
  description = "Apify Documentation"
  showVisitedLinks = true
  disableLandingPage = false
  
[outputs]
home = [ "HTML", "RSS", "JSON"]

[[menu.shortcuts]]
name = "<i class='fab fa-github'></i> GitHub"
url = "https://github.com/apify/apify-doc"
weight = 10